################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Assignment2/Hackathon/Hackathon/obj
/Assignment2/Hackathon/Hackathon/bin/Debug/net6.0-windows
/Assignment2/Hackathon/.vs
/Assignment1-threads/ImageSearch/.vs/ImageSearch/FileContentIndex
