################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Assignment2/WinFormsApp1/.vs/WinFormsApp1/FileContentIndex
